In [47]:
import time
import datetime
from datetime import datetime
import pandas as pd
ticker="GOOG"
start = int(time.mktime(datetime(2020,12,1,23,59).timetuple()))
now=int(time.time())
interval = "1wk"
quary_string= f"https://query1.finance.yahoo.com/v7/finance/download/{ticker}?period1={start}&period2={now}&interval={interval}&events=history&includeAdjustedClose=true"
table=pd.read_csv(quary_string)
table["ticker"]=ticker
table.sort_values(by="Date",inplace=True)
print(table.head())

         Date       Open       High        Low      Close  Adj Close  \
0  2020-11-30  88.718498  92.360001  88.468498  91.399498  91.399498
1  2020-12-07  90.949997  91.713501  87.015999  89.088501  89.088501
2  2020-12-14  88.750000  89.869499  86.011002  86.550499  86.550499
3  2020-12-21  85.675499  87.399498  84.949997  86.942497  86.942497
4  2020-12-28  87.581749  89.622002  86.279999  87.594002  87.594002

      Volume ticker
0  111288000   GOOG
1  130166000   GOOG
2  204742000   GOOG
3   82914000   GOOG
4  100208000   GOOG

In [78]:
import mysql.connector
con = mysql.connector.connect(
    host = "localhost",
    user="root",
    passwd="tobias",
    database="sql_inventory"
)
mycursor = con.cursor()

mycursor.execute("CREATE DATABASE stocks")

In [85]:
from sqlalchemy import create_engine
import pymysql
engine = create_engine("mysql+pymysql://" + "root" + ":" + "tobias" + "@" + "localhost" + "/" + "stocks")
table.to_sql('SData', con = engine, if_exists = 'append',index = False, chunksize = 1000)

C:\Users\tobia\AppData\Local\Temp\ipykernel_23620\2889306022.py:4: UserWarning: The provided table name 'SData' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  table.to_sql('SData', con = engine, if_exists = 'append',index = False, chunksize = 1000)

119

In [58]:
con

,Date,Open,High,Low,Close,Adj Close,Volume,ticker
0,2020-11-30,88.718498,92.360001,88.468498,91.399498,91.399498,111288000,GOOG
1,2020-12-07,90.949997,91.713501,87.015999,89.088501,89.088501,130166000,GOOG
2,2020-12-14,88.750000,89.869499,86.011002,86.550499,86.550499,204742000,GOOG
3,2020-12-21,85.675499,87.399498,84.949997,86.942497,86.942497,82914000,GOOG
4,2020-12-28,87.581749,89.622002,86.279999,87.594002,87.594002,100208000,GOOG
...,...,...,...,...,...,...,...,...
114,2023-02-06,102.684998,108.669998,93.860001,94.860001,94.860001,279926300,GOOG
115,2023-02-13,95.010002,97.879997,92.650002,94.589996,94.589996,189375800,GOOG
116,2023-02-20,93.239998,93.415001,88.860001,89.349998,89.349998,121958600,GOOG
117,2023-02-27,90.089996,91.449997,89.519997,90.300003,90.300003,53240000,GOOG
118,2023-02-28,89.540001,91.445000,89.540001,90.300003,90.300003,30546912,GOOG