In [113]:
import time
import datetime
from datetime import datetime
import pandas as pd

In [121]:
#download data from yahoo and make into dataframe
ticker_list=["AMZN","GOOG"]
def pull_yahoo(ticker_list,interval="1d"):
    start = int(time.mktime(datetime(2020,12,1,23,59).timetuple()))
    now=int(time.time())
    interval = interval
    data=[]
    for ticker in ticker_list:
        quary_string= f"https://query1.finance.yahoo.com/v7/finance/download/{ticker}?period1={start}&period2={now}&interval={interval}&events=history&includeAdjustedClose=true"
        temp_table=pd.read_csv(quary_string)
        temp_table["ticker"]=ticker
        data.append(temp_table)
    table=pd.concat(data,axis=0,ignore_index=True)
    return table
table = pull_yahoo(ticker_list)

In [78]:
#connect with database 
import mysql.connector
con = mysql.connector.connect(
    host = "localhost",
    user="root",
    passwd="tobias",
    database="sql_inventory"
)
#create Database
mycursor = con.cursor()
mycursor.execute("CREATE DATABASE stocks")

In [95]:
#create engine and export dataframe to mysql
from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://" + "root" + ":" + "tobias" + "@" + "localhost" + "/" + "stocks")
table.to_sql('stock_tables', con = engine, if_exists = 'append',index = False, chunksize = 1000)

566